In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)

In [2]:
col_names = ['movie_id','title','genres']
movies = pd.read_csv('movies.dat',sep= '::',header= None,dtype='object')
movies.columns = col_names
movies.head(11)

C:\Users\nagapavan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller
10       11      American President, The (1995)          Comedy|Drama|Romance

In [3]:
ll=pd.Series(movies['title'].str.split('('))
ll.head()

0                      [Toy Story , 1995)]
1                        [Jumanji , 1995)]
2               [Grumpier Old Men , 1995)]
3              [Waiting to Exhale , 1995)]
4    [Father of the Bride Part II , 1995)]
Name: title, dtype: object

In [134]:
ll[0][1].split(')')[0]

'1995'

In [4]:
year = pd.DataFrame([i[-1].split(')')[0] for i in ll])
year.head(5)

      0
0  1995
1  1995
2  1995
3  1995
4  1995

In [5]:
name = pd.DataFrame([i[0].split(')')[0] for i in ll])
name.head()

                              0
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

In [6]:
movies['year'] = year
movies['name'] = name
movies.head()

,movie_id,title,genres,year,name
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II

In [ ]:
comedy_movies = data['genres'].str.contains('Comedy')
data[comedy_movies].head(

In [191]:
col_names2 = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv('ratings.dat',sep= '::',header= None,dtype='object')
ratings.columns = col_names2
ratings.head(11)

C:\Users\nagapavan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id movie_id rating  timestamp
0        1     1193      5  978300760
1        1      661      3  978302109
2        1      914      3  978301968
3        1     3408      4  978300275
4        1     2355      5  978824291
5        1     1197      3  978302268
6        1     1287      5  978302039
7        1     2804      5  978300719
8        1      594      4  978302268
9        1      919      4  978301368
10       1      595      5  978824268

How many movies were produced per year?

In [197]:
col_names = ['movie_id','title','genres']
movies = pd.read_csv('movies.dat',sep= '::',header= None,dtype='object')
movies.columns = col_names
movies.head(11)

C:\Users\nagapavan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller
10       11      American President, The (1995)          Comedy|Drama|Romance

In [198]:
ll=pd.Series(movies['title'].str.split('('))
year = pd.DataFrame([i[-1].split(')')[0] for i in ll])
name = pd.DataFrame([i[0].split(')')[0] for i in ll])
movies['year'] = year
movies['name'] = name
movies.head(5)

,movie_id,title,genres,year,name
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II

In [199]:
movies.groupby('year').count()['movie_id'] ## How many movies were produced per year?

year
1919      3
1920      2
1921      1
1922      2
1923      3
1925      6
1926      8
1927      6
1928      3
1929      3
1930      7
1931      7
1932      7
1933      7
1934      7
1935      6
1936      8
1937     11
1938      6
1939     11
1940     19
1941     11
1942     13
1943     10
1944     13
1945     11
1946     13
1947     14
1948     12
1949     10
       ...
1971     26
1972     22
1973     29
1974     28
1975     21
1976     21
1977     22
1978     30
1979     32
1980     41
1981     43
1982     50
1983     35
1984     60
1985     65
1986    104
1987     71
1988     69
1989     60
1990     77
1991     60
1992    102
1993    165
1994    257
1995    342
1996    345
1997    315
1998    337
1999    283
2000    156
Name: movie_id, Length: 81, dtype: int64

What were the most popular movie genres year by year?

In [200]:
mm = pd.merge(movies,ratings,on='movie_id',how='left')
mm.head()

,movie_id,title,genres,year,name,user_id,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,10,5,978226474

In [195]:
ji = explode(movies, ['genres'])
ji.head()

NameError: name 'explode' is not defined

In [201]:
mm.genres = mm.genres.str.split('|')
mm = explode(mm, ['genres'])
mm.head()

NameError: name 'explode' is not defined

In [186]:
movies.groupby('year').

ValueError: No axis named genres for object type <class 'pandas.core.frame.DataFrame'>

In [188]:
movies.year.unique()

array(['1995', '1994', '1996', '1976', '1993', '1992', '1988', '1967',
       '1964', '1977', '1965', '1982', '1962', '1990', '1991', '1989',
       '1937', '1940', '1969', '1981', '1973', '1970', '1960', '1955',
       '1956', '1959', '1968', '1980', '1975', '1986', '1948', '1943',
       '1963', '1950', '1946', '1987', '1997', '1974', '1958', '1949',
       '1972', '1998', '1933', '1952', '1951', '1957', '1961', '1954',
       '1934', '1944', '1942', '1941', '1953', '1939', '1947', '1945',
       '1938', '1935', '1936', '1926', '1932', '1930', '1971', '1979',
       '1966', '1978', '1985', '1983', '1984', '1931', '1922', '1927',
       '1929', '1928', '1925', '1923', '1999', '1919', '2000', '1920',
       '1921'], dtype=object)

In [ ]:
explode

In [ ]:
import pandas as pd
import numpy as np

def explode_str(df, col, sep):
    s = df[col]
    i = np.arange(len(s)).repeat(s.str.count(sep) + 1)
    return df.iloc[i].assign(**{col: sep.join(s).split(sep)})

def explode_list(df, col):
    s = df[col]
    i = np.arange(len(s)).repeat(s.str.len())
    return df.iloc[i].assign(**{col: np.concatenate(s)})