In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore
from sklearn.preprocessing import Imputer
from sklearn.metrics import accuracy_score
import seaborn as sns
%matplotlib inline

In [40]:
X = [0, 1, 2, 3]
y = [0, 0, 1, 1]

In [18]:
def euclidean_dist(data_x, data_y):
    if len(data_x) != len(data_y):
        raise Exception('Data sets must be the same dimension')
    dimensions = len(data_x)
    sum_dims = 0
    for dim in range(0, dimensions):
        sum_dims += (data_x[dim] - data_y[dim])**2

    return sqrt(sum_dims)

In [22]:
X[0][0]

0

In [23]:
x = [2.5]
x

[2.5]

In [5]:
y

[0, 0, 1, 1]

In [6]:
from scipy.spatial import distance

In [31]:
euc = [distance.euclidean(X[i],x) for i in X ]
euc

[2.5, 1.5, 0.5, 0.5]

In [32]:
dt = pd.DataFrame(euc,y)
dt

     0
0  2.5
0  1.5
1  0.5
1  0.5

In [33]:
np.sort(dt, axis=-1, kind='quicksort')

array([[ 2.5],
       [ 1.5],
       [ 0.5],
       [ 0.5]])

In [38]:
X

[0, 1, 2, 3]

In [36]:
def dist(X,y):
    for i in X[:
        for j in y[j]:
            dist = np.abs(X[i]-j[i])
    return dist

In [39]:
dist(X,y)

UnboundLocalError: local variable 'i' referenced before assignment

In [ ]:
def knn(X[i],y):
   sum = x + y
   return sum

In [41]:
import numpy as np
import pandas as pd

In [55]:
fin = pd.read_csv("fintech.data.txt",sep=' ',,header=None)

In [56]:
fin.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [59]:
col_names = ['Status_of_existing_checking_account','Duration_in_month','Credit_history','Purpose','Credit_amount','Savings account/bonds','Present_employment_since','Installment_rate','Personal_status_and_sex','Other_debtors/guarantors','Present_residence_since','Property','Age_in_years','Other_installment_plans','Housing','Number_of_existing_credits_at_this_bank','Job','No_of_ppl_maintenance','Telephone','foreign worker','Target']

In [60]:
fin.columns = col_names

In [61]:
fin.head()

,Status_of_existing_checking_account,Duration_in_month,Credit_history,Purpose,Credit_amount,Savings account/bonds,Present_employment_since,Installment_rate,Personal_status_and_sex,Other_debtors/guarantors,...,Property,Age_in_years,Other_installment_plans,Housing,Number_of_existing_credits_at_this_bank,Job,No_of_ppl_maintenance,Telephone,foreign worker,Target
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [64]:
bc_df = pd.get_dummies(fin)
bc_df.shape

(1000, 62)

In [66]:
bc_df = bc_df.drop(labels = "Target", axis = 1)

In [67]:
bc_df.dtypes

Duration_in_month                          int64
Credit_amount                              int64
Installment_rate                           int64
Present_residence_since                    int64
Age_in_years                               int64
Number_of_existing_credits_at_this_bank    int64
No_of_ppl_maintenance                      int64
Status_of_existing_checking_account_A11    uint8
Status_of_existing_checking_account_A12    uint8
Status_of_existing_checking_account_A13    uint8
Status_of_existing_checking_account_A14    uint8
Credit_history_A30                         uint8
Credit_history_A31                         uint8
Credit_history_A32                         uint8
Credit_history_A33                         uint8
Credit_history_A34                         uint8
Purpose_A40                                uint8
Purpose_A41                                uint8
Purpose_A410                               uint8
Purpose_A42                                uint8
Purpose_A43                                uint8
Purpose_A44                                uint8
Purpose_A45                                uint8
Purpose_A46                                uint8
Purpose_A48                                uint8
Purpose_A49                                uint8
Savings account/bonds_A61                  uint8
Savings account/bonds_A62                  uint8
Savings account/bonds_A63                  uint8
Savings account/bonds_A64                  uint8
                                           ...
Present_employment_since_A71               uint8
Present_employment_since_A72               uint8
Present_employment_since_A73               uint8
Present_employment_since_A74               uint8
Present_employment_since_A75               uint8
Personal_status_and_sex_A91                uint8
Personal_status_and_sex_A92                uint8
Personal_status_and_sex_A93                uint8
Personal_status_and_sex_A94                uint8
Other_debtors/guarantors_A101              uint8
Other_debtors/guarantors_A102              uint8
Other_debtors/guarantors_A103              uint8
Property_A121                              uint8
Property_A122                              uint8
Property_A123                              uint8
Property_A124                              uint8
Other_installment_plans_A141               uint8
Other_installment_plans_A142               uint8
Other_installment_plans_A143               uint8
Housing_A151                               uint8
Housing_A152                               uint8
Housing_A153                               uint8
Job_A171                                   uint8
Job_A172                                   uint8
Job_A173                                   uint8
Job_A174                                   uint8
Telephone_A191                             uint8
Telephone_A192                             uint8
foreign worker_A201                        uint8
foreign worker_A202                        uint8
Length: 61, dtype: object

In [68]:
from sklearn.model_selection import train_test_split

In [70]:
y = fin.Target
X = bc_df

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=143)

In [102]:
from sklearn.neighbors import KNeighborsClassifier

In [103]:
knn = KNeighborsClassifier(n_neighbors=3)

In [104]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [105]:
def getAccuracy(testSet, predictions):
	correct = 0
	for x in range(len(testSet)):
		if testSet[x][-1] is predictions[x]:
			correct += 1
	return (correct/float(len(testSet))) * 100.0

In [106]:
predicted_labels = knn.predict(X_test)

In [107]:
from sklearn.metrics import accuracy_score

In [108]:
accuracy_score(y_test, predicted_labels)

0.66000000000000003

In [89]:
knn1 = KNeighborsClassifier(n_neighbors=30)

In [90]:
knn1.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=30, p=2,
           weights='uniform')

In [91]:
predicted_labels1 = knn1.predict(X_test)

In [92]:
accuracy_score(y_test, predicted_labels1)

0.71333333333333337

In [ ]:
d = {'An': 'Bn', 'Bn': 'An'}
df['school'] = df.school.map(d)

In [109]:
fin_2 = fin.replace({'A':'0'},regex = True)

In [112]:
fin_2.head()

,Status_of_existing_checking_account,Duration_in_month,Credit_history,Purpose,Credit_amount,Savings account/bonds,Present_employment_since,Installment_rate,Personal_status_and_sex,Other_debtors/guarantors,...,Property,Age_in_years,Other_installment_plans,Housing,Number_of_existing_credits_at_this_bank,Job,No_of_ppl_maintenance,Telephone,foreign worker,Target
0,011,6,034,043,1169,065,075,4,093,0101,...,0121,67,0143,0152,2,0173,1,0192,0201,1
1,012,48,032,043,5951,061,073,2,092,0101,...,0121,22,0143,0152,1,0173,1,0191,0201,2
2,014,12,034,046,2096,061,074,2,093,0101,...,0121,49,0143,0152,1,0172,2,0191,0201,1
3,011,42,032,042,7882,061,074,2,093,0103,...,0122,45,0143,0153,1,0173,2,0191,0201,1
4,011,24,033,040,4870,061,073,3,093,0101,...,0124,53,0143,0153,2,0173,2,0191,0201,2

In [114]:
fin_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
Status_of_existing_checking_account        1000 non-null object
Duration_in_month                          1000 non-null int64
Credit_history                             1000 non-null object
Purpose                                    1000 non-null object
Credit_amount                              1000 non-null int64
Savings account/bonds                      1000 non-null object
Present_employment_since                   1000 non-null object
Installment_rate                           1000 non-null int64
Personal_status_and_sex                    1000 non-null object
Other_debtors/guarantors                   1000 non-null object
Present_residence_since                    1000 non-null int64
Property                                   1000 non-null object
Age_in_years                               1000 non-null int64
Other_installment_plans                    1000 non-null object
Housing                                    1000 non-null object
Number_of_existing_credits_at_this_bank    1000 non-null int64
Job                                        1000 non-null object
No_of_ppl_maintenance                      1000 non-null int64
Telephone                                  1000 non-null object
foreign worker                             1000 non-null object
Target                                     1000 non-null int64
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [115]:
from scipy.stats import zscore

In [119]:
fin_2 = fin_2.astype(int)

In [143]:
fin_3 = fin_2.drop('Target',axis=1)

In [144]:
bc_feature_df_z = fin_3.apply(zscore)

In [145]:
X = np.array(bc_feature_df_z)
bc_labels = fin_2['Target']

In [146]:
bc_labels.head()

0    1
1    2
2    1
3    1
4    2
Name: Target, dtype: int32

In [147]:
y = np.array(bc_labels)

In [148]:
bc_feature_df_z.head()

,Status_of_existing_checking_account,Duration_in_month,Credit_history,Purpose,Credit_amount,Savings account/bonds,Present_employment_since,Installment_rate,Personal_status_and_sex,Other_debtors/guarantors,Present_residence_since,Property,Age_in_years,Other_installment_plans,Housing,Number_of_existing_credits_at_this_bank,Job,No_of_ppl_maintenance,Telephone,foreign worker
0,-1.254566,-1.236478,1.344014,-0.103505,-0.745131,1.833169,1.338078,0.918477,0.449326,-0.303686,1.046987,-1.293723,2.766456,0.460831,0.133710,1.027079,0.146949,-0.428290,1.214598,-0.196014
1,-0.459026,2.248194,-0.503428,-0.103505,0.949817,-0.699707,-0.317959,-0.870183,-0.963650,-0.303686,-0.765977,-1.293723,-1.191404,0.460831,0.133710,-0.704926,0.146949,-0.428290,-0.823318,-0.196014
2,1.132053,-0.738668,1.344014,-0.028646,-0.416562,-0.699707,0.510060,-0.870183,0.449326,-0.303686,0.140505,-1.293723,1.183312,0.460831,0.133710,-0.704926,-1.383771,2.334869,-0.823318,-0.196014
3,-1.254566,1.750384,-0.503428,-0.128458,1.634247,-0.699707,0.510060,-0.870183,0.449326,3.885083,1.046987,-0.341055,0.831502,0.460831,2.016956,-0.704926,0.146949,2.334869,-0.823318,-0.196014
4,-1.254566,0.256953,0.420293,-0.178364,0.566664,-0.699707,-0.317959,0.024147,0.449326,-0.303686,1.046987,1.564281,1.535122,0.460831,2.016956,1.027079,0.146949,2.334869,-0.823318,-0.196014

In [154]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=143)

In [155]:
knn1 = KNeighborsClassifier(n_neighbors=30)

In [156]:
knn1.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=30, p=2,
           weights='uniform')

In [157]:
predicted_labels2 = knn1.predict(X_test)

In [158]:
accuracy_score(y_test, predicted_labels2)

0.72333333333333338

In [175]:
NNH = KNeighborsClassifier(n_neighbors= 30,p=3, weights = 'uniform', metric='minkowski')

In [176]:
NNH.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=30, p=3,
           weights='uniform')

In [177]:
predicted_labels2 = NNH.predict(X_test)

In [178]:
accuracy_score(y_test, predicted_labels2)

0.73333333333333328

In [ ]:
drop

In [ ]:
import matplotlib.pyplot as plt

plt.matshow(bc_df.corr())