In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv( "Campaign.csv")

In [9]:
data.head(2)

  Cust_ID  Target   Age  Gender   Balance  Occupation  No_OF_CR_TXNS
0      C1       0     30      M  160378.60        SAL              2
1      C2       0     43      M   26275.55       PROF             23

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
Cust_ID          2000 non-null object
Target           2000 non-null int64
 Age             2000 non-null int64
Gender           2000 non-null object
 Balance         2000 non-null float64
Occupation       1947 non-null object
No_OF_CR_TXNS    2000 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 109.5+ KB

In [13]:
data.Target.value_counts()

0    1787
1     213
Name: Target, dtype: int64

In [20]:
X_features = list(data.columns )
X_features.remove( 'Target')
X_features.remove( 'Cust_ID')
       
X_features

[' Age ', 'Gender', ' Balance ', 'Occupation', 'No_OF_CR_TXNS']

In [24]:
data_complete = pd.get_dummies(data[X_features], drop_first = False )

In [25]:
len(data_complete.columns )

10

In [26]:
data_complete.head()

,Age,Balance,No_OF_CR_TXNS,Gender_F,Gender_M,Gender_O,Occupation_PROF,Occupation_SAL,Occupation_SELF-EMP,Occupation_SENP
0,30,160378.60,2,0,1,0,0,1,0,0
1,43,26275.55,23,0,1,0,1,0,0,0
2,53,33616.47,45,0,1,0,0,1,0,0
3,45,1881.37,3,0,1,0,1,0,0,0
4,37,3274.37,33,0,1,0,1,0,0,0

In [27]:
x = data_complete

In [32]:
y = data.Target

In [33]:
from sklearn.cross_validation import train_test_split

C:\Users\nagapavan\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [34]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size = 0.3)

In [35]:
y_test[0:10]

831     1
78      0
833     0
549     0
983     0
1685    0
1397    0
77      0
452     1
1596    0
Name: Target, dtype: int64

In [36]:
import statsmodels.api as sm

C:\Users\nagapavan\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [37]:
logit = sm.Logit( y_train, sm.add_constant( x_train ) )

In [38]:
lg = logit.fit()

Optimization terminated successfully.
         Current function value: 0.249301
         Iterations 7

In [39]:
lg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Target   No. Observations:                 1400
Model:                          Logit   Df Residuals:                     1390
Method:                           MLE   Df Model:                            9
Date:                Thu, 07 Jun 2018   Pseudo R-squ.:                  0.2440
Time:                        17:22:05   Log-Likelihood:                -349.02
converged:                       True   LL-Null:                       -461.67
                                        LLR p-value:                 1.604e-43
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   2.6622   9.49e+06   2.81e-07      1.000   -1.86e+07    1.86e+07
 Age                   -0.0185      0.012     -1.575      0.115      -0.041       0.005
 Balance            -2.211e-06   9.31e-07     -2.376      0.018   -4.03e-06   -3.87e-07
No_OF_CR_TXNS           0.0084      0.007      1.224      0.221      -0.005       0.022
Gender_F                1.9393   9.49e+06   2.04e-07      1.000   -1.86e+07    1.86e+07
Gender_M                0.4787   9.49e+06   5.04e-08      1.000   -1.86e+07    1.86e+07
Gender_O                0.2442   9.49e+06   2.57e-08      1.000   -1.86e+07    1.86e+07
Occupation_PROF        -5.0302      0.647     -7.771      0.000      -6.299      -3.762
Occupation_SAL         -5.9015      0.652     -9.052      0.000      -7.179      -4.624
Occupation_SELF-EMP    -3.9321      0.638     -6.164      0.000      -5.182      -2.682
Occupation_SENP        -5.8077      0.953     -6.096      0.000      -7.675      -3.941
=======================================================================================
"""

In [40]:
def get_significant_vars( lm ):
    var_p_vals_df = pd.DataFrame( lm.pvalues )
    var_p_vals_df['vars'] = var_p_vals_df.index
    var_p_vals_df.columns = ['pvals', 'vars']
    return list( var_p_vals_df[var_p_vals_df.pvals <= 0.05]['vars'] )

In [41]:
significant_vars = get_significant_vars( lg )

In [42]:
significant_vars

[' Balance ',
 'Occupation_PROF',
 'Occupation_SAL',
 'Occupation_SELF-EMP',
 'Occupation_SENP']

In [43]:
from sklearn import metrics

In [44]:
def get_predictions( y_test, model ):
    y_pred_df = pd.DataFrame( { 'actual': y_test,
                               "predicted_prob": model.predict( sm.add_constant( x_test ) ) } )
    return y_pred_df

In [45]:
y_pred_df = get_predictions( y_test, lg )

In [46]:
y_pred_df.head(2)

     actual  predicted_prob
831       1        0.101918
78        0        0.088558

In [47]:
y_pred_df[0:10]

      actual  predicted_prob
831        1        0.101918
78         0        0.088558
833        0        0.211732
549        0        0.037080
983        0        0.070914
1685       0        0.023372
1397       0        0.063607
77         0        0.513970
452        1        0.191754
1596       0        0.040829

In [48]:
y_pred_df['predicted'] = y_pred_df.predicted_prob.map( lambda x: 1 if x > 0.5 else 0)

In [49]:
y_pred_df[0:10]

      actual  predicted_prob  predicted
831        1        0.101918          0
78         0        0.088558          0
833        0        0.211732          0
549        0        0.037080          0
983        0        0.070914          0
1685       0        0.023372          0
1397       0        0.063607          0
77         0        0.513970          1
452        1        0.191754          0
1596       0        0.040829          0

In [50]:
def draw_cm( actual, predicted ):
    cm = metrics.confusion_matrix( actual, predicted, [1,0] )
    sn.heatmap(cm, annot=True,  fmt='.2f', xticklabels = ["Default", "No Default"] , yticklabels = ["Default", "No Default"] )
    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.show()

In [51]:
metrics.confusion_matrix( y_pred_df.actual, y_pred_df.predicted)

array([[526,   4],
       [ 51,  19]], dtype=int64)