In [76]:
import numpy as np
import pandas as pd

In [77]:
from sklearn.metrics import accuracy_score
import seaborn as sns
%matplotlib inline

In [78]:
data = pd.read_csv('communities.data.txt',header = None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03

In [168]:
y = data[127]
y.head()

0    0.20
1    0.67
2    0.43
3    0.12
4    0.03
Name: 127, dtype: float64

In [79]:
data = data.replace({'?': np.NaN})
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03

In [88]:
data.columns[data.isnull().any()]

Int64Index([  1,   2,  30, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
            111, 112, 113, 114, 115, 116, 117, 121, 122, 123, 124, 126],
           dtype='int64')

In [93]:
data.fillna(data.median(),inplace = True)

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,23,48090,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,23,48090,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,0.08,0.03,0.75,0.5,0.00,0.15,0.67
2,24,23,48090,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,0.08,0.03,0.75,0.5,0.00,0.15,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,0.08,0.03,0.75,0.5,0.00,0.15,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,0.08,0.03,0.75,0.5,0.00,0.15,0.03
5,6,23,48090,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,...,0.01,0.58,0.10,0.08,0.03,0.75,0.5,0.00,0.15,0.14
6,44,7,41500,Lincolntown,1,0.01,0.39,0.00,0.98,0.06,...,0.05,0.08,0.06,0.08,0.03,0.75,0.5,0.00,0.15,0.03
7,6,23,48090,Selmacity,1,0.01,0.74,0.03,0.46,0.20,...,0.01,0.33,0.00,0.08,0.03,0.75,0.5,0.00,0.15,0.55
8,21,23,48090,Hendersoncity,1,0.03,0.34,0.20,0.84,0.02,...,0.04,0.17,0.04,0.08,0.03,0.75,0.5,0.00,0.15,0.53
9,29,23,48090,Claytoncity,1,0.01,0.40,0.06,0.87,0.30,...,0.00,0.47,0.11,0.08,0.03,0.75,0.5,0.00,0.15,0.15
10,6,23,48090,DalyCitycity,1,0.13,0.71,0.15,0.07,1.00,...,0.02,1.00,1.00,0.08,0.03,0.75,0.5,0.00,0.15,0.24
11,36,23,48090,RockvilleCentrevillage,1,0.02,0.46,0.08,0.91,0.07,...,0.01,0.63,1.00,0.08,0.03,0.75,0.5,0.00,0.15,0.08
12,25,21,44105,Needhamtown,1,0.03,0.47,0.01,0.96,0.13,...,0.03,0.18,0.59,0.08,0.03,0.75,0.5,0.00,0.15,0.06
13,55,87,30075,GrandChutetown,1,0.01,0.44,0.00,0.98,0.04,...,0.08,0.04,0.00,0.08,0.03,0.75,0.5,0.00,0.15,0.09
14,6,23,48090,DanaPointcity,1,0.04,0.36,0.01,0.85,0.14,...,0.02,0.40,0.15,0.08,0.03,0.75,0.5,0.00,0.15,0.21
15,19,187,91370,FortDodgecity,1,0.03,0.34,0.06,0.93,0.03,...,0.04,0.15,0.04,0.08,0.03,0.75,0.5,0.00,0.15,0.30
16,36,1,1000,Albanycity,1,0.15,0.31,0.40,0.63,0.14,...,0.06,0.39,0.84,0.06,0.06,0.91,0.5,0.88,0.26,0.49
17,34,27,17650,Denvilletownship,1,0.01,0.53,0.01,0.94,0.20,...,0.03,0.09,0.21,0.08,0.03,0.75,0.5,0.00,0.15,0.07
18,18,23,48090,Valparaisocity,1,0.02,0.47,0.01,0.97,0.07,...,0.03,0.20,0.07,0.08,0.03,0.75,0.5,0.00,0.15,0.15
19,42,129,66376,Rostravertownship,1,0.00,0.41,0.05,0.96,0.01,...,0.09,0.03,0.05,0.08,0.03,0.75,0.5,0.00,0.15,0.03
20,6,23,48090,Modestocity,1,0.25,0.54,0.05,0.71,0.48,...,0.09,0.46,0.05,0.09,0.05,0.88,0.5,0.76,0.13,0.34
21,12,31,48090,Jacksonvillecity,1,1.00,0.42,0.47,0.59,0.12,...,1.00,0.07,0.15,1,0.35,0.73,0,0.31,0.21,0.69
22,41,23,48090,KlamathFallscity,1,0.01,0.34,0.02,0.87,0.07,...,0.05,0.09,0.06,0.08,0.03,0.75,0.5,0.00,0.15,0.21
23,19,193,93926,SiouxCitycity,1,0.11,0.43,0.04,0.89,0.09,...,0.16,0.12,0.07,0.04,0.01,0.81,1,0.56,0.09,0.63
24,6,23,48090,Delanocity,1,0.02,0.96,0.05,0.00,1.00,...,0.02,0.22,0.02,0.08,0.03,0.75,0.5,0.00,0.15,0.31
25,8,23,48090,Goldencity,1,0.00,0.33,0.02,0.91,0.16,...,0.02,0.15,0.16,0.08,0.03,0.75,0.5,0.00,0.15,0.12
26,6,23,48090,Gardenacity,1,0.06,0.49,0.46,0.00,1.00,...,0.01,0.79,0.21,0.08,0.03,0.75,0.5,0.00,0.15,0.84
27,39,29,61798,Perrytownship,1,0.01,0.37,0.01,0.99,0.02,...,0.04,0.09,0.00,0.08,0.03,0.75,0.5,0.00,0.15,0.10
28,54,23,48090,Beckleycity,1,0.01,0.27,0.43,0.64,0.08,...,0.02,0.17,0.00,0.08,0.03,0.75,0.5,0.00,0.15,0.49
29,9,7,22490,EastHamptontown,1,0.00,0.50,0.01,0.98,0.02,...,0.10,0.02,0.08,0.08,0.03,0.75,0.5,0.00,0.15,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,36,119,49121,MountVernoncity,10,0.09,0.45,1.00,0.08,0.11,...,0.01,1.00,1.00,0.08,0.03,0.75,0.5,0.00,0.15,0.60
1965,18,97,48090,Indianapoliscity,10,1.00,0.36,0.44,0.64,0.06,...,1.00,0.17,0.18,0.45,0.19,0.5,0.5,0.44,0.21,0.69
1966,6,23,48090,RedwoodCitycity,10,0.09,0.41,0.07,0.74,0.39,...,0.05,0.29,0.22,0.08,0.03,0.75,0.5,0.00,0.15,0.30
1967,25,17,76135,Westfordtown,10,0.01,0.66,0.00,0.97,0.10,...,0.09,0.04,0.04,0.08,0.03,0.75,0.5,0.00,0.15,0.04
1968,34,25,62430,RedBankborough,10,0.00,0.24,0.51,0.53,0.11,...,0.00,0.50,0.49,0.08,0.03,0.75,0.5,0.00,0.15,0.19
1969,6,23,48090,SanFranciscocity,10,1.00,0.29,0.21,0.29,1.00,...,0.13,1.00,1.00,0.53,0.62,0.64,0.5,0.64,0.35,0.75
1970,45,23,48090,Caycecity,10,0.00,0.37,0.38,0.69,0.04,...,0.02,0.10,0.08,0.08,0.03,0.75,0.5,0.00,0.15,0.53
1971,1,23,48090,Decaturcity,10,0.06,0.39,0.32,0.73,0.04,...,0.14,0.09,0.01,0.08,0.03,0.75,0.5,0.00,0.15,0.22
1972,6,23,48090,Redlandscity,10,0.08,0.49,0.07,0.69,0.27,...,0.07,0.21,0.02,0.08,0.03,0.75,0.5,0.00,0.15,0.30
1973,39,23,48090,Englewoodcity,10,0.00,0.38,0.03,0.97,0.04,...,0.01,0.18,0.10,0.08,0.03,0.75,0.5,0.00,0.15,0.04
1974,37,23,48090,Tarborotown,10,0.00,0.41,0.62,0.51,0.02,...,0.02,0.10,0.00,0.08,0.03,0.75,0.5,0.00,0.15,0.52
1975,53,23,48090,Kirklandcity,10,0.05,0.27,0.03,0.89,0.27,...,0.03,0.31,0.34,0.08,0.03,0.75,0.5,0.00,0.15,0.09
1976,25,17,1605,Arlingtontown,10,0.06,0.29,0.03,0.93,0.18,...,0.01,0.72,0.94,0.08,0.03,0.75,0.5,0.00,0.15,0.08
1977,47,23,48090,Maryvillecity,10,0.01,0.35,0.06,0.94,0.06,...,0.04,0.12,0.01,0.08,0.03,0.75,0.5,0.00,0.15,0.25
1978,9,1,4720,Betheltown,10,0.01,0.54,0.02,0.94,0.13,...,0.05,0.09,0.14,0.08,0.03,0.75,0.5,0.00,0.15,0.04
1979,34,39,61530,Rahwaycity,10,0.02,0.43,0.39,0.63,0.15,...,0.01,0.53,0.43,0.08,0.03,0.75,0.5,0.00,0.15,0.16
1980,25,5,69170,Tauntoncity,10,0.06,0.43,0.04,0.93,0.03,...,0.13,0.09,0.11,0.08,0.03,0.75,0.5,0.00,0.15,0.28
1981,9,9,35650,Hamdentown,10,0.07,0.38,0.17,0.84,0.11,...,0.09,0.13,0.17,0.02,0.01,0.72,0,0.62,0.15,0.07
1982,42,133,73168,SpringGardentownship,10,0.00,0.47,0.02,0.98,0.03,...,0.02,0.14,0.04,0.08,0.03,0.75,0.5,0.00,0.15,0.03
1983,13,23,48090,ForestParkcity,10,0.01,0.45,0.37,0.65,0.15,...,0.02,0.16,0.13,0.08,0.03,0.75,0.5,0.00,0.15,0.56
1984,39,95,48342,Maumeecity,10,0.01,0.43,0.01,0.98,0.03,...,0.02,0.15,0.06,0.08,0.03,0.75,0.5,0.00,0.15,0.14
1985,1,23,48090,AlexanderCitycity,10,0.01,0.41,0.55,0.57,0.01,...,0.11,0.03,0.01,0.08,0.03,0.75,0.5,0.00,0.15,0.14
1986,9,3,70550,Southingtontown,10,0.05,0.52,0.02,0.97,0.04,...,0.10,0.09,0.03,0.08,0.03,0.75,0.5,0.00,0.15,0.02
1987,44,7,11800,Burrillvilletown,10,0.01,0.65,0.00,1.00,0.01,...,0.16,0.02,0.02,0.08,0.03,0.75,0.5,0.00,0.15,0.04
1988,28,23,48090,Columbuscity,10,0.02,0.41,1.00,0.21,0.02,...,0.03,0.17,0.02,0.08,0.03,0.75,0.5,0.00,0.15,0.19
1989,12,23,48090,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,0.08,0.03,0.75,0.5,0.00,0.15,0.09
1990,6,23,48090,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,0.08,0.03,0.75,0.5,0.00,0.15,0.45
1991,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,6,23,48090,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [94]:
A = data.drop([127],axis=1)
A.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
0,8,23,48090,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.29,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14
1,53,23,48090,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.26,0.02,0.12,0.45,0.08,0.03,0.75,0.5,0.00,0.15
2,24,23,48090,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.26,0.01,0.21,0.02,0.08,0.03,0.75,0.5,0.00,0.15
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.26,0.02,0.39,0.28,0.08,0.03,0.75,0.5,0.00,0.15
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.26,0.04,0.09,0.02,0.08,0.03,0.75,0.5,0.00,0.15

In [97]:
A_dum = pd.get_dummies(A)
A_dum.head()

,0,4,5,6,7,8,9,10,11,12,...,126_0.52,126_0.54,126_0.56,126_0.69,126_0.71,126_0.73,126_0.76,126_0.82,126_0.99,126_1
0,8,1,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,...,0,0,0,0,0,0,0,0,0,0
1,53,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,...,0,0,0,0,0,0,0,0,0,0
2,24,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,...,0,0,0,0,0,0,0,0,0,0
3,34,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,...,0,0,0,0,0,0,0,0,0,0
4,42,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,...,0,0,0,0,0,0,0,0,0,0

In [104]:
A[3]

0                 Lakewoodcity
1                  Tukwilacity
2                 Aberdeentown
3          Willingborotownship
4            Bethlehemtownship
5            SouthPasadenacity
6                  Lincolntown
7                    Selmacity
8                Hendersoncity
9                  Claytoncity
10                DalyCitycity
11      RockvilleCentrevillage
12                 Needhamtown
13              GrandChutetown
14               DanaPointcity
15               FortDodgecity
16                  Albanycity
17            Denvilletownship
18              Valparaisocity
19           Rostravertownship
20                 Modestocity
21            Jacksonvillecity
22            KlamathFallscity
23               SiouxCitycity
24                  Delanocity
25                  Goldencity
26                 Gardenacity
27               Perrytownship
28                 Beckleycity
29             EastHamptontown
                 ...
1964           MountVernoncity
1965          Indianapoliscity
1966           RedwoodCitycity
1967              Westfordtown
1968            RedBankborough
1969          SanFranciscocity
1970                 Caycecity
1971               Decaturcity
1972              Redlandscity
1973             Englewoodcity
1974               Tarborotown
1975              Kirklandcity
1976             Arlingtontown
1977             Maryvillecity
1978                Betheltown
1979                Rahwaycity
1980               Tauntoncity
1981                Hamdentown
1982      SpringGardentownship
1983            ForestParkcity
1984                Maumeecity
1985         AlexanderCitycity
1986           Southingtontown
1987          Burrillvilletown
1988              Columbuscity
1989         TempleTerracecity
1990               Seasidecity
1991             Waterburytown
1992               Walthamcity
1993               Ontariocity
Name: 3, Length: 1994, dtype: object

In [105]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(A[3])

LabelEncoder()

In [110]:
city = le.transform(A[3])

In [113]:
A[3] = city
A[3].head()

0     804
1    1625
2       1
3    1787
4     141
Name: 3, dtype: int64

In [114]:
A.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
0,8,23,48090,804,1,0.19,0.33,0.02,0.90,0.12,...,0.29,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14
1,53,23,48090,1625,1,0.00,0.16,0.12,0.74,0.45,...,0.26,0.02,0.12,0.45,0.08,0.03,0.75,0.5,0.00,0.15
2,24,23,48090,1,1,0.00,0.42,0.49,0.56,0.17,...,0.26,0.01,0.21,0.02,0.08,0.03,0.75,0.5,0.00,0.15
3,34,5,81440,1787,1,0.04,0.77,1.00,0.08,0.12,...,0.26,0.02,0.39,0.28,0.08,0.03,0.75,0.5,0.00,0.15
4,42,95,6096,141,1,0.01,0.55,0.02,0.95,0.09,...,0.26,0.04,0.09,0.02,0.08,0.03,0.75,0.5,0.00,0.15

In [188]:
import numpy as np
from sklearn.decomposition import PCA

In [214]:
pca = PCA(n_components = 15, svd_solver= "arpack")

pca.fit(A)

PCA(copy=True, iterated_power='auto', n_components=15, random_state=None,
  svd_solver='arpack', tol=0.0, whiten=False)

In [216]:
princi = pca.fit_transform(A)
jai = pd.DataFrame(data=princi,columns=['PC1','PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10'])
jai.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,777.038704,112.958425,-15.946144,-19.851877,-4.484402,-0.400837,-0.643218,0.464306,0.154036,-0.529177,-0.418672,-0.089863,0.050068,0.174780,0.101915
1,793.606832,-707.914349,-14.836005,24.376573,-4.578044,0.213188,0.635467,1.043055,0.364431,-0.183495,-0.834386,-0.272727,-0.712392,-0.011930,-0.125159
2,760.832862,915.779630,-14.294845,-3.177963,-4.369609,0.306639,-0.612795,-0.157081,-0.125030,-0.023991,0.139891,-0.472740,-0.492732,0.009884,0.403112
3,34140.069986,-196.779704,-50.849015,8.002553,-4.429186,-0.530639,0.471538,-0.353448,-0.397071,-1.084930,0.729851,-0.197943,-0.502403,-0.550193,0.289256
4,-41221.745019,-71.804171,79.668754,8.980491,-4.555069,-1.273772,-0.369825,-0.594731,-0.059985,-0.352316,-0.170023,-0.019507,0.096340,-0.018363,-0.106635

In [213]:
#U,S,V = np.linalg.svd(A) 
#eigvals = S**2 / np.cumsum(S)[-1]

In [217]:
va = (pca.explained_variance_ratio_)
va = va.tolist()

In [218]:
va.sort(reverse=True)
va

[0.9993279006659468,
 0.0006451848399048638,
 2.589860627641272e-05,
 9.693347690143155e-07,
 3.136759830261136e-08,
 4.004473990374084e-09,
 2.4983961609100085e-09,
 1.246656839563355e-09,
 1.0678204465231145e-09,
 6.985566055005339e-10,
 6.091635003559537e-10,
 4.472487209055986e-10,
 4.283056519287274e-10,
 3.470947705927131e-10,
 2.876144256044811e-10]

In [219]:
tot = np.sum(va)

In [220]:
va/tot

array([  9.99327904e-01,   6.45184842e-04,   2.58986064e-05,
         9.69334772e-07,   3.13675984e-08,   4.00447400e-09,
         2.49839617e-09,   1.24665684e-09,   1.06782045e-09,
         6.98556608e-10,   6.09163503e-10,   4.47248722e-10,
         4.28305653e-10,   3.47094772e-10,   2.87614427e-10])

In [221]:
df = pd.concat([jai,y],axis=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,127
0,777.038704,112.958425,-15.946144,-19.851877,-4.484402,-0.400837,-0.643218,0.464306,0.154036,-0.529177,-0.418672,-0.089863,0.050068,0.174780,0.101915,0.20
1,793.606832,-707.914349,-14.836005,24.376573,-4.578044,0.213188,0.635467,1.043055,0.364431,-0.183495,-0.834386,-0.272727,-0.712392,-0.011930,-0.125159,0.67
2,760.832862,915.779630,-14.294845,-3.177963,-4.369609,0.306639,-0.612795,-0.157081,-0.125030,-0.023991,0.139891,-0.472740,-0.492732,0.009884,0.403112,0.43
3,34140.069986,-196.779704,-50.849015,8.002553,-4.429186,-0.530639,0.471538,-0.353448,-0.397071,-1.084930,0.729851,-0.197943,-0.502403,-0.550193,0.289256,0.12
4,-41221.745019,-71.804171,79.668754,8.980491,-4.555069,-1.273772,-0.369825,-0.594731,-0.059985,-0.352316,-0.170023,-0.019507,0.096340,-0.018363,-0.106635,0.03

In [222]:
df.shape

(1994, 16)

In [223]:
jai.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,777.038704,112.958425,-15.946144,-19.851877,-4.484402,-0.400837,-0.643218,0.464306,0.154036,-0.529177,-0.418672,-0.089863,0.050068,0.174780,0.101915
1,793.606832,-707.914349,-14.836005,24.376573,-4.578044,0.213188,0.635467,1.043055,0.364431,-0.183495,-0.834386,-0.272727,-0.712392,-0.011930,-0.125159
2,760.832862,915.779630,-14.294845,-3.177963,-4.369609,0.306639,-0.612795,-0.157081,-0.125030,-0.023991,0.139891,-0.472740,-0.492732,0.009884,0.403112
3,34140.069986,-196.779704,-50.849015,8.002553,-4.429186,-0.530639,0.471538,-0.353448,-0.397071,-1.084930,0.729851,-0.197943,-0.502403,-0.550193,0.289256
4,-41221.745019,-71.804171,79.668754,8.980491,-4.555069,-1.273772,-0.369825,-0.594731,-0.059985,-0.352316,-0.170023,-0.019507,0.096340,-0.018363,-0.106635

In [224]:
jai = sm.add_constant(jai)

In [225]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(jai, y, test_size=0.30, random_state=143)

In [226]:
import statsmodels.api as sm
lm = sm.OLS(y_train,X_train).fit()

In [227]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    127   R-squared:                       0.633
Model:                            OLS   Adj. R-squared:                  0.629
Method:                 Least Squares   F-statistic:                     158.5
Date:                Sun, 16 Sep 2018   Prob (F-statistic):          7.48e-287
Time:                        16:05:44   Log-Likelihood:                 785.12
No. Observations:                1395   AIC:                            -1538.
Df Residuals:                    1379   BIC:                            -1454.
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2358      0.004     63.432      0.000       0.229       0.243
0          -3.767e-07   2.27e-07     -1.662      0.097   -8.21e-07    6.78e-08
1            3.05e-05   9.07e-06      3.362      0.001    1.27e-05    4.83e-05
2          -8.416e-06   4.35e-05     -0.193      0.847   -9.38e-05     7.7e-05
3             -0.0030      0.000    -12.807      0.000      -0.003      -0.003
4             -0.0028      0.001     -2.139      0.033      -0.005      -0.000
5              0.1376      0.004     37.594      0.000       0.130       0.145
6              0.0693      0.005     15.270      0.000       0.060       0.078
7              0.0817      0.007     12.411      0.000       0.069       0.095
8             -0.0918      0.007    -13.449      0.000      -0.105      -0.078
9             -0.0843      0.009     -9.631      0.000      -0.101      -0.067
10             0.0797      0.009      8.507      0.000       0.061       0.098
11            -0.0965      0.011     -8.827      0.000      -0.118      -0.075
12            -0.0309      0.011     -2.775      0.006      -0.053      -0.009
13            -0.0356      0.012     -2.917      0.004      -0.060      -0.012
14            -0.0416      0.014     -2.980      0.003      -0.069      -0.014
==============================================================================
Omnibus:                      282.835   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              808.795
Skew:                           1.034   Prob(JB):                    2.36e-176
Kurtosis:                       6.104   Cond. No.                     6.18e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.18e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""