In [46]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(color_codes=True)

## Importing the Dataset

In [47]:
hr= pd.read_csv( "HR_Employee_Attrition_Data.csv" )

In [48]:
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,3,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,5,...,4,80,1,6,3,3,2,2,2,2

## Attrition is the Target column. We need to change the characters into numerical categorical values.

In [49]:
hr.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [50]:
hr.Attrition.replace(('Yes', 'No'), (1, 0), inplace=True)

In [51]:
hr.Attrition.head()

0    1
1    0
2    1
3    0
4    0
Name: Attrition, dtype: int64

## Assigning the Target as "Attrition"and splitting the data into Train and Test in the 70:30 ratio

In [57]:
y = hr.Attrition

In [58]:
X_train, X_test, y_train, y_test = train_test_split(hr, y, test_size=0.3)

In [59]:
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(2058, 35) (2058,)
(882, 35) (882,)

## Build an Ada Boost Model

In [60]:
from sklearn.metrics import roc_curve
from sklearn.metrics import auc,confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier
from sklearn.grid_search import GridSearchCV
from sklearn import preprocessing 
le=preprocessing.LabelEncoder()

In [61]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)
X.columns

Index([                              'Age',
                               'Attrition',
                               'DailyRate',
                        'DistanceFromHome',
                               'Education',
                           'EmployeeCount',
                          'EmployeeNumber',
                 'EnvironmentSatisfaction',
                              'HourlyRate',
                          'JobInvolvement',
                                'JobLevel',
                         'JobSatisfaction',
                           'MonthlyIncome',
                             'MonthlyRate',
                      'NumCompaniesWorked',
                       'PercentSalaryHike',
                       'PerformanceRating',
                'RelationshipSatisfaction',
                           'StandardHours',
                        'StockOptionLevel',
                       'TotalWorkingYears',
                   'TrainingTimesLastYear',
                         'WorkLifeBalance',
                          'YearsAtCompany',
                      'YearsInCurrentRole',
                 'YearsSinceLastPromotion',
                    'YearsWithCurrManager',
                                     False,
               'BusinessTravel_Non-Travel',
        'BusinessTravel_Travel_Frequently',
            'BusinessTravel_Travel_Rarely',
              'Department_Human Resources',
       'Department_Research & Development',
                        'Department_Sales',
          'EducationField_Human Resources',
            'EducationField_Life Sciences',
                'EducationField_Marketing',
                  'EducationField_Medical',
                    'EducationField_Other',
         'EducationField_Technical Degree',
                           'Gender_Female',
                             'Gender_Male',
       'JobRole_Healthcare Representative',
                 'JobRole_Human Resources',
           'JobRole_Laboratory Technician',
                         'JobRole_Manager',
          'JobRole_Manufacturing Director',
               'JobRole_Research Director',
              'JobRole_Research Scientist',
                 'JobRole_Sales Executive',
            'JobRole_Sales Representative',
                  'MaritalStatus_Divorced',
                   'MaritalStatus_Married',
                    'MaritalStatus_Single',
                                'Over18_Y',
                             'OverTime_No',
                            'OverTime_Yes'],
      dtype='object')

In [62]:
model = AdaBoostClassifier(n_estimators=30)
model.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=30, random_state=None)

In [63]:
pred_y_train = model.predict(X_train)
pred_y_train

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [64]:
score = accuracy_score(y_train, pred_y_train)
score

1.0